<div class="yeah">
  <span>
    <a href="#/hi">My Countries</a>
    <a href="#/map">My Map</a>
  </span>
    <h2>Leaderboards</h2>
    <div class="buttons">
      <button class="activeb" ng-click="changeView($event, 'top')">World</button>
      <button ng-click="changeView($event, 'africa')">Africa</button>
      <button ng-click="changeView($event, 'asia')">Asia</button>
      <button ng-click="changeView($event, 'europe')">Europe</button>
      <button ng-click="changeView($event, 'namerica')">North America</button>
      <button ng-click="changeView($event, 'oceania')">Oceania</button>
      <button ng-click="changeView($event, 'samerica')">South America</button>
    </div>
    <div class="rel" ng-switch="moduleState">
      <div class="board" ng-switch-when="top">
        <h3>World Leaderboard (193 Countries Total)</h3>
        <table class="leader">
          <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Country Count</td>
          </tr>
          <tr ng-repeat="user in top" class="top">
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.number}}</td>
          </li>
        </table>
      </div>
      <div class="board" ng-switch-when="africa">
        <h3>Africa Leaderboard (53 Countries Total)</h3>
        <table class="leader">
          <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Country Count</td>
          </tr>
          <tr ng-repeat="user in africa" class="top">
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.number}}</td>
          </li>
        </table>
      </div>
      <div class="board" ng-switch-when="asia">
        <h3>Asia Leaderboard (44 Countries Total)</h3>
        <table class="leader">
          <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Country Count</td>
          </tr>
          <tr ng-repeat="user in asia" class="top">
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.number}}</td>
          </li>
        </table>
      </div>
      <div class="board" ng-switch-when="europe">
        <h3>Europe Leaderboard (47 Countries Total)</h3>
        <table class="leader">
          <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Country Count</td>
          </tr>
          <tr ng-repeat="user in europe" class="top">
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.number}}</td>
          </li>
        </table>
      </div>
      <div class="board" ng-switch-when="namerica">
        <h3>North America Leaderboard (23 Countries Total)</h3>
        <table class="leader">
          <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Country Count</td>
          </tr>
          <tr ng-repeat="user in namerica" class="top">
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.number}}</td>
          </li>
        </table>
      </div>
      <div class="board" ng-switch-when="oceania">
        <h3>Oceania Leaderboard (14 Countries Total)</h3>
        <table class="leader">
          <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Country Count</td>
          </tr>
          <tr ng-repeat="user in oceania" class="top">
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.number}}</td>
          </li>
        </table>
      </div>
      <div class="board" ng-switch-when="samerica">
        <h3>South America Leaderboard (12 Countries Total)</h3>
        <table class="leader">
          <tr>
            <td>Rank</td>
            <td>Name</td>
            <td>Country Count</td>
          </tr>
          <tr ng-repeat="user in samerica" class="top">
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.number}}</td>
          </li>
        </table>
      </div>
    </div>

</div>
