<div class="yeah">
  <div class="uhuh">
    <h2>Leaderboards</h2>
    <button ng-click="changeView('top')">World</button>
    <button ng-click="changeView('africa')">Africa</button>
    <button ng-click="changeView('asia')">Asia</button>
    <button ng-click="changeView('europe')">Europe</button>
    <button ng-click="changeView('namerica')">North America</button>
    <button ng-click="changeView('oceania')">Oceania</button>
    <button ng-click="changeView('samerica')">South America</button>
    <div ng-switch="moduleState">
      <div ng-switch-when="top">
        <h3>World Leaderboard</h3>
        <ol class="leader">
          <li ng-repeat="user in top" class="top">
            <p>{{user.name}} -- {{user.number}} countries</p>
          </li>
        </ol>
      </div>
      <div ng-switch-when="africa">
        <h3>Africa Leaderboard</h3>
        <ol class="leader">
          <li ng-repeat="user in africa" class="top">
            <p>{{user.name}} -- {{user.number}} countries</p>
          </li>
        </ol>
      </div>
      <div ng-switch-when="asia">
        <h3>Asia Leaderboard</h3>
        <ol class="leader">
          <li ng-repeat="user in asia" class="top">
            <p>{{user.name}} -- {{user.number}} countries</p>
          </li>
        </ol>
      </div>
      <div ng-switch-when="europe">
        <h3>Europe Leaderboard</h3>
        <ol class="leader">
          <li ng-repeat="user in europe" class="top">
            <p>{{user.name}} -- {{user.number}} countries</p>
          </li>
        </ol>
      </div>
      <div ng-switch-when="namerica">
        <h3>North America Leaderboard</h3>
        <ol class="leader">
          <li ng-repeat="user in namerica" class="top">
            <p>{{user.name}} -- {{user.number}} countries</p>
          </li>
        </ol>
      </div>
      <div ng-switch-when="oceania">
        <h3>Oceania Leaderboard</h3>
        <ol class="leader">
          <li ng-repeat="user in oceania" class="top">
            <p>{{user.name}} -- {{user.number}} countries</p>
          </li>
        </ol>
      </div>
      <div ng-switch-when="samerica">
        <h3>South America Leaderboard</h3>
        <ol class="leader">
          <li ng-repeat="user in samerica" class="top">
            <p>{{user.name}} -- {{user.number}} countries</p>
          </li>
        </ol>
      </div>
    </div>


</div>
</div>
