header {
  display: block;
  background-color: #94B5F2;
  color: lightgray;
  border-bottom: 1px solid grey;
  font-size: 20px;
}

header a.logo {
  float: left;
  padding: 5px 10px;
  display: block;
  background: #0000FF;
  border-right: 1px solid black;
}

header li, header h6 {
  float: right;
  padding: 5px 5px;
  display: block;
  border-left: 1px solid black;
  background: #0000FF;
}

header form {
  float: right;
  padding: 5px 5px;
  background: #0000FF;
  border-left: 1px solid black;
}

header li:hover {
  color: white;
}

header form input:hover {
  cursor: pointer;
  color: white;
}
