div.yeah {
  background-image: url('world.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: #ecf0f1;
  position: relative;
}
.yeah h2 {
  text-align: center;
  display: block;
  padding: 5px;
  border: 1px solid black;
}

.yeah span {
  float: left;
  position: absolute;
  top: 6px;
}

.yeah span a {
  padding: 5px 8px;
  background: grey;
  border-radius: 3px;
  color: white;
}

.yeah h3 {
  text-align: center;
  display: block;
  padding: 5px;
  border: 1px solid yellow;
}

.buttons button.activeb {
  background: grey;
}

.buttons {
  margin: auto;
  display: block;
  border: 2px solid grey;
  text-align: center;
}

.buttons button {
  background: #0B6121;
  color: white;
  padding: 5px 8px;
  margin: 0;
}

.buttons button:hover {
  cursor: pointer;
}

table.leader {
  vertical-align: center;
  margin: 20px auto;
  background: rgba(0,0,0,.3);
}

table.leader tr:first-child {
  text-decoration: bold;
  font-size: 18px;
}

td {
  border: 1px solid yellow;
  margin: 0;
  padding: 3px 5px;
}
