div#world-map {
  width: 100%;
  height: 50vw;
  position: absolute;
}

div.map {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: yellow;
  height: 100%;
}

.sure span {
  float: left;
  position: absolute;
  top: 6px;
}

.sure span a {
  padding: 5px 8px;
  background: grey;
  border-radius: 3px;
  color: white;
}

.sure h3 {
  text-align: center;
  display: block;
  padding: 5px;
  border: 1px solid yellow;
}
