div, span, section, h1, h2, h3, h6, a, p, button, form, input, label, header, body, html, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  font: inherit;
  color: inherit;
  font-size: inherit
  text-align: inherit;
  vertical-align: inherit;
  text-decoration: none;
  font-family: Tahoma, Geneva, sans-serif;
}

a:visited {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

/*clearfix for floated elements*/
.group:after {
  content: '';
  display: block;
  clear: both;
}
