section.signback {
  border-top: 1px solid transparent;
  margin-top: -1px;
  background: image-url('beach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}

section.sign {
  border: 1px solid black;
  margin: 40px auto;
  display: block;
  width: 70%;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

section.sign h2 {
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

section.sign label, section.sign input {
  display: block;
  margin-bottom: 10px;
}

section.sign input {
  padding: 5px 5px;
  border-bottom: 2px solid white;
}

section.sign input.button {
  margin: auto;
  background: #0B6121;
  color: white;
  border-radius: 5px;
  box-shadow: 0 3px white;
  border: none;
}

input.button:hover {
  cursor: pointer;
}

section.sign input.button:active {
  position: relative;
  top: 3px;
  box-shadow: none;
  border: none;
}
